* {
padding: 0;
margin: 0;
box-sizing: border-box;
text-decoration: none;
font-family: sans-serif;
font-size: 14px;
}

body{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(blue, yellow, red );
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

/***** Primeiro container *****/
.instagram-wrapper{
    display: flex; 
    align-items: center; 
    justify-content: start;
    width: 60%;
    height: 100vh;
}

.instagram-phone{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.instagram-phone img{
   height: 50rem;
}

.intagram-continue{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    height: 34rem;
}

.grupo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background:rgb(230, 157, 217);
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid black;
    border-radius: 10px;
}

.grupo:nth-child(1){
    min-height: 19rem;
}

.intagram-logo{
height: 3rem;
}

.foto-perfil{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}
.foto-perfil img {
    height: 6rem;
}

.instagram-login {
    background-color: black;
    color: #ffffff;
    padding: 8px;
    border-radius: 4px;
}

.instagram-logout {
    color: white;
    margin-top: 1rem;
    border-radius: 3px;
    background-color: black;
    padding: 6px;
}

.not-acount {
    color: white;
}

.link-blue {
    color: white;
}

.get-the-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

.download {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.get-app{
    color: black;
}

.app-download {
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

.app-download:nth-child(1) {
    background-image: url('imagens/apple-button.png');
}

.app-download:nth-child(2) {
    background-image: url('imagens/googleplay-button.png');
}

/* media queries */


@media (max-width: 1024px) {
    .instagram-wrapper {
        width: 90%;
    }
}

@media (max-width: 650px) {
    body {
        background-color: black;
    }

    .instagram-wrapper {
        width: 90%;
    }

    .instagram-phone {
        display: none;
    }

    .instagram-continue {
        width: 100%;
    }
    
    .grupo{
        border: 1px solid transparent;
    }
}